.example-spacer {
    flex: 1 1 auto;

  }
  /* .bg{
      background-color: rgb(28, 194, 194);
  }
  .col{
      color:white;
      width: 5px;
  } */

  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .container{
      max-width: 100%;
      margin: 0 auto;
  }